/* body {
    padding: 50px;
    font:
        14px 'Lucida Grande',
        Helvetica,
        Arial,
        sans-serif;
}

a {
    color: #00b7ff;
} */

/* Remove Arrows/Spinners */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.slider-container {
    width: 100%;
}

.slider-container {
    height: 6px;
    position: relative;
    background: #e4e4e4;
    border-radius: 5px;
}

.slider-container .price-slider {
    height: 100%;
    left: 0%;
    right: 100%;
    position: absolute;
    border-radius: 5px;
    background: #4f46e5;

textarea {
    resize: none;
    overflow: hidden;
}

.range-input {
    position: relative;
}

.range-input input {
    position: absolute;
    width: 100%;
    height: 5px;
    background: none;
    top: -5px;
    pointer-events: none;
    cursor: pointer;
    -webkit-appearance: none;
}

/* Styles for the range thumb in WebKit browsers */
input[type="range"]::-webkit-slider-thumb {
    height: 18px;
    width: 18px;
    border-radius: 70%;
    background: #4f46e5;
    pointer-events: auto;
    -webkit-appearance: none;
}

.price-input{
    -webkit-box-align: center;
}