@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');
* {
    box-sizing: border-box;
}
:root{
    --primary: #003C43;
    --secondary: #135D66;
    --tertiary:#77B0AA;
    --quaternary:#E3FEF7;
    --background: #022529;
}
body {
    background: var(--background);
    margin: 0;
    font-family: "Poppins";
}
.navbar a{
    color: var(--secondary);
    font-size: 1em;
}
a.title {
    font-size: 2em;
}
.navbar{
    color: var(--primary);
    padding: 5px 20px;
    width: auto;
    /* font-size: 1.5em; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;

}
.info{
    display: flex;
    align-items: stretch;
    /* background-color: var(--quaternary); */
}
.info::after {
  content: "";
  clear: both;
  display: table;
}


[class*="col-"] {
  float: left;
  padding: 15px;
}

.vertical-align-content {
    display:flex;
    align-items:center;
    /* justify-content:center; */
    flex-direction: column;
  }

h1{
    color: var(--tertiary);
}
.info h1{
    padding: 10px;
}

p{
    margin: 0 2%;
    color: var(--tertiary);
    font-size: 20px;
}


a{
    text-decoration: none;
}

div.info {
    display:block;
    position:relative;
    margin: auto auto;
    /* padding: 10px 20px; */
    /* background: var(--tertiary);  */
    
}

.grName {       
    color: var(--quaternary);
}

ul li {
    list-style-type: none;
    display: inline;
    margin: 0 5px;
}

img {
    padding: 0 0;
    border-radius: 4px;
    width: 100%;
    height:auto;
    background: #f1f1f1;
}

.photo {
    padding: 4px 4px;
    border-radius: 4px;
    max-width: 400px;
    float:right;
}
.about_us{
    text-align: center;
    background-color: var(--secondary);
    padding: 10px;
    width: 100%;
}
/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}
  
  @media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }
/* @media only screen and (max-width: 700px) {
    .navbar {
        font-size: 1.2em;
        padding: 10px 15px;
    }

    .info {
        padding: 5px 10px;
        flex-direction: column;
        align-items: flex-start;
    }

    .info div {
        width: 100%;
        margin-left: 0;
    }

    img {
        width: 40%;
        height: auto;
        margin: 0 auto;
    }

    .photo {
        position:absolute;
        margin: 0 auto;
        padding: 4px 4px;
        border-radius: 1px;
        width: 90px;
        height: 120px;
        background: #f1f1f1;
    }
}

@media only screen and (max-width: 500px) {
    .navbar {
        font-size: 1em;
        padding: 10px;
    }

    .info {
        padding: 5px;
        width: 95%;
        margin: 0 auto;
    }

    .info div {
        width: 100%;
        margin-left: 0;
        margin-top: 150px;
    }

    a {
        font-size: 0.9em;
    }

    img {
        position:absolute;
        margin: 0 auto;
        left: 70px;
        top: 130px;
        padding: 4px 4px;
        border-radius: 1px;
        width: 120px;
        height: 150px;
        background: #f1f1f1;
    }  

    .photo {
        position:absolute;
        margin: 0 auto;
        padding: 4px 4px;
        border-radius: 1px;
        width: 100px;
        height: 130px;
        background: #f1f1f1;
    }
} */